*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

.image-container{
	width: 50%;
	margin:20px;
	position: relative;
	min-width: 300px;
}

.image-container img {
	width:100%;
}

.image-container p {
	position: absolute;
	width: 80%;
	left:10%;
	right:10%;
	bottom: 5%;
	padding: 10px;
	color: #fff;
	opacity: 0;
}

.image-container:hover img {
	filter: brightness(50%);
	transition: .5s;
}

.image-container:hover p{
	opacity:1;
	transition: .5s;
}